.banner{
    background-image: url(../../images/banner7.jpg),linear-gradient(rgba(0,0,0,0.8),rgba(0,0,0,0.8))

}
.banner-item{
    animation: run 5s linear infinite;
}
@keyframes run{
    0%{
        transform: translate(100px,0px);
    }
    100%{
        transform: translate(0px,35px);
    }
}